:root {
  /* Typography */
  /* Body: */
  --open: "Open Sans", sans-serif;
  /* Weight: 400 */
  /*////////////////////////////*/
  /* Headings, Call-to-actions, Header Navigation: */
  --rale: "Raleway", sans-serif;
  /* Weight: 400 700 */
  /*------------------------------------*/
  --darkBlue: hsl(243, 87%, 12%);
  --hoverDark: hsl(243, 96%, 19%);
  --desBlue: hsl(238, 22%, 44%);
  /* Accent */
  --blue: hsl(224, 93%, 58%);
  --hoverBlue: hsl(241, 100%, 65%);
  --cyan: hsl(170, 45%, 43%);
  --hoverCyan: hsl(170, 65%, 68%);
  /* Neutral */
  --light: hsl(240, 75%, 98%);
  --hoverWhite: hsla(0, 0%, 93%, 0.945);
  --gray: hsl(0, 0%, 75%);
  /* Radius */
  --rad: 4px;
  font-size: 16px;
}
/* Spanglish :D */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-size: 16px;
  overflow-x: hidden;
  height: auto;
}

.main {
  padding: 4.4375rem 3.7rem;
  background: #fff;
}

/* Header Section */

.header {
  font-family: var(--rale);
  color: var(--darkblue);
  font-weight: 400;
}

.header_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav ul {
  list-style: none;
  display: flex;
  align-content: flex-end;
}

.header_nav ul li {
  margin-left: 3.6875rem;
  cursor: pointer;
  color: var(--darkBlue);
  transition: 0.3s ease-in;
}

.header_nav ul li:hover {
  color: var(--hoverDark);
}

/* Hero Section */

.hero {
  margin-top: 5.5rem;
  font-family: var(--open);
}

.hero_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero_title {
  font-size: 2.4125rem;
  font-weight: 700;
  padding-bottom: 1.875rem;
  transition: 0.3s ease;
}

.hero_title:hover {
  letter-spacing: 0.3px;
}

.hero_text {
  font-size: 1.2011875rem;
  padding-bottom: 1.5625rem;
}

.hero_img,
.content_img {
  margin-left: 5.8355rem;
  height: 32.1875rem;
  width: 40rem;
}

/* Hero Button */

.hero_form {
  display: flex;
  align-items: center;
}

.hero_email {
  height: 2.75rem;
  width: 21.5rem;
  border: 1px solid var(--desBlue);
  border-radius: var(--rad);
  padding-left: 1.25rem;
  font-size: 16px;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.hero_email::placeholder {
  color: var(--desBlue);
}
.hero_email:focus {
  border-color: var(--blue);
  background: var(--hoverWhite);
}

.hero_submit {
  width: 12.4375rem;
  height: 2.75rem;
  border: none;
  color: var(--light);
  background: var(--blue);
  border-radius: var(--rad);
  padding: 0.9375rem 0;
  font-family: var(--rale);
  font-weight: 700;
  font-size: 16px;
  margin-left: 1rem;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.hero_submit:hover {
  background: var(--hoverBlue);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
}

/* Content Section */

.content {
  margin-top: 10.625rem;
  position: relative;
  background: var(--light);
  height: 49.375rem;
  padding: 3.9rem 3.7rem;
  font-family: var(--open);
}
/* This is the curve in Desktop */

.content_text {
  color: var(--darkBlue);
}

.content_svg {
  position: absolute;
  top: -5.625rem;
  left: 0;
  z-index: -100;
}

.content_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content_title {
  font-size: 36px;
  font-family: var(--rale);
  font-weight: 700;
  padding-bottom: 1.875rem;
  transition: 0.3s ease;
}

.content_title:hover {
  letter-spacing: 0.3px;
}

.content_text_p {
  font-size: 18px;
  line-height: 1.7rem;
}

.p1 {
  padding-bottom: 1.375rem;
}

.content_a {
  color: var(--cyan);
  text-decoration: none;
  margin-top: 1.1875rem;
  transition: 0.3s ease;
}

.content_a:hover,
.content_hr:hover {
  color: var(--hoverCyan);
  letter-spacing: 0.2px;
  text-shadow: 0px 2px 3px rgba(3, 68, 49, 0.2);
}

.div_a {
  display: flex;
  align-items: center;
  position: relative;
}

.content_arrow {
  font-size: 12px;
  padding-left: 0.2rem;
}

.content_hr {
  position: absolute;
  height: 0.0625rem;
  color: var(--cyan);
  left: 0;
  bottom: -0.9375rem;
  background: var(--cyan);
  width: 10.3125rem;
  border-radius: 2px;
  border: none;
}

/* Content Card */

.card {
  margin-top: 2.8125rem;
  width: 22.25rem;
  background: #fff;
  padding: 1.5625rem 1.9375rem;
  font-family: var(--open);
  border-radius: var(--rad);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.45s ease;
}

.card:hover {
  transform: rotate(2.5deg);
  box-shadow: 3.5px 3.5px 6px rgba(0, 0, 0, 0.45);
}

.card_svg {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.9375rem;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--darkBlue);
  font-weight: 700;
  word-spacing: 1.5px;
}

.card_profile {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
}

.profile_avatar {
  width: 2.0625rem;
  height: 2.125rem;
  border-radius: 50%;
  margin-right: 0.4375rem;
}

.profile_name {
  font-family: var(--rale);
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.1875rem;
}

.profile_work {
  font-family: var(--rale);
  font-size: 11px;
}

/* Access Section */

.access {
  background: var(--desBlue);
  height: 20.3125rem;
  padding: 6.5625rem 3.5625rem;
  font-family: var(--open);
  color: var(--light);
}

.access_grid {
  display: grid;
  grid-template-columns: 37.5rem 40rem;
  column-gap: 130px;
  align-items: flex-start;
}

.access_title {
  font-size: 27.5px;
  padding-bottom: 1.875rem;
  color: #ffffff;
  transition: 0.3s ease;
}
.access_title:hover {
  letter-spacing: 0.3px;
}

.access_text {
  font-size: 19px;
  line-height: 28px;
}

/* Access Form */

.access_email {
  width: 35.625rem;
  max-width: 29.375rem;
  height: 3.125rem;
  border: none;
  border-radius: var(--rad);
  padding-left: 1.25rem;
  margin-bottom: 1.125rem;
  outline: none;
  text-transform: lowercase;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.access_sub {
  width: 12.5rem;
  height: 2.9375rem;
  background: var(--blue);
  border: none;
  color: var(--light);
  border-radius: var(--rad);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.access_sub:hover {
  background: var(--hoverBlue);
  box-shadow: 3.5px 3.5px rgba(0, 0, 0, 0.35);
  transform: scale(1.07);
}

/* Footer */

.footer {
  background: var(--darkBlue);
  font-family: var(--open);
  color: #fff;
  padding: 6.4375rem 3.5625rem;
  padding-bottom: 4.375rem;
  height: auto;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer_logo {
  display: block;
  margin-bottom: 1.375rem;
}

.footer_text {
  margin-bottom: 0.9375rem;
  cursor: pointer;
}

.icon_phone,
.icon_email {
  margin-right: 0.9375rem;
}

.footer_icons {
  display: grid;
  grid-template-columns: repeat(3, 1.0625rem);
  column-gap: 2.8125rem;
  align-items: center;
  justify-content: center;
}

.icon_media {
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  width: 2.875rem;
  height: 3.125rem;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.icon_media:hover {
  color: var(--darkBlue);
  background: #fff;
}

.footer_div2,
.footer_div3 {
  margin-left: 3.125rem;
}

/* Responsive Desing */
/* 
@media screen and (max-width: 1390px) {
  body {
    overflow-x: hidden;
    max-width: 1350px;
    margin: 0 auto;
  }
} */

/*
@media screen and (max-width: 785px) {
  body {
    overflow-x: hidden;
  }

  .content {
    padding: 4.4375rem 3.7rem;
    padding-right: 8rem;
  }

  .access {
    padding: 4.4375rem 3.7rem;
    padding-right: 15rem;
  }

  .footer {
    padding: 4.4375rem 3.7rem;
    padding-right: 11rem;
  }
} */

/* Arreglar Para despues :( */

@media screen and (min-width: 743px), screen and (max-width: 1125px) {
  .html {
    margin: 0 auto;
  }
}
/*
  .hero_img {
    max-width: 27rem;
  }

  .hero_content {
    max-width: 20rem;
  }

  .hero_title {
    font-size: 1.2125rem;
  }

  .hero_email {
    width: 18rem;
  }

  .hero_submit {
    font-size: 14px;
    padding: 10px;
  }

  .access_email {
    display: block;
    max-width: 19rem;
  }

  .content_svg {
    max-width: 100%;
  }
} */

/* Mobile Design */

@media screen and (max-width: 542px) {
  :root {
    /* Typography */
    /* Body: */
    --open: "Open Sans", sans-serif;
    /* Weight: 400 */
    /*////////////////////////////*/
    /* Headings, Call-to-actions, Header Navigation: */
    --rale: "Raleway", sans-serif;
    /* Weight: 400 700 */
    /*------------------------------------*/
    --darkBlue: hsl(243, 87%, 12%);
    --desBlue: hsl(238, 22%, 44%);
    /* Accent */
    --blue: hsl(224, 93%, 58%);
    --cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --light: hsl(240, 75%, 98%);
    --gray: hsl(0, 0%, 75%);
    /* Radius */
    --rad: 4px;
    font-size: 16px;
  }
  * {
    box-sizing: border-box;
  }

  body {
    max-width: 542px;
    width: 542px;
    font-size: 13px;
    overflow-x: hidden;
    text-align: center;
  }

  .main {
    padding: 33px;
  }

  .logo {
    display: block;
    width: 115px;
    height: 33px;
  }

  /* Header */

  .header {
    font-family: var(--rale);
    color: var(--darkblue);
    font-weight: 400;
  }

  .header_grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header_nav ul {
    list-style: none;
    display: flex;
    width: 233px;
  }

  .header_li {
    margin-left: 0;
  }

  .header_nav ul li {
    margin: 0;
    margin-left: 32px;
    font-size: 14.5px;
  }

  .header_nav ul li:nth-child(1) {
    margin-left: 0;
  }

  .header_nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--darkBlue);
  }

  /* Hero */

  .hero {
    width: 100%;
    height: 877px;
    margin-top: 2.5rem;
  }

  .hero_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 315px 507px;
    justify-content: center;
    row-gap: 35px;
  }

  .hero_img {
    width: 449px;
    height: 324px;
    margin: 0;
  }

  .hero_title {
    font-size: 35px;
    color: var(--darkBlue);
    margin-top: 70px;
  }

  .hero_text {
    font-size: 22px;
    margin-top: 35px;
  }

  .hero_content {
    grid-row-start: 2;
    width: 455px;
  }

  .hero_img {
    grid-row-start: 1;
  }

  .hero_form {
    flex-direction: column;
    justify-content: center;
    margin-top: 44px;
  }

  .hero_email,
  .hero_submit {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 65px;
  }

  .hero_submit {
    margin: 0;
    margin-top: 25px;
  }

  /* Content */

  .content {
    margin-top: 115px;
    width: 100%;
    height: 1450px;
    text-align: left;
    padding: 33px;
    padding-top: 65px;
  }

  .content_svg {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -42px;
    left: 0;
    z-index: -100;
  }

  .content_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .content_img {
    margin: 0;
    width: 458px;
    height: 350px;
    grid-row-start: 1;
  }

  .content_text {
    grid-row-start: 2;
  }

  .content_title {
    font-size: 22px;
    text-align: center;
    padding-bottom: 35px;
  }

  .content_text_p {
    font-size: 21px;
  }

  .content_a {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
  }

  .content_hr {
    margin: 0 auto;
    text-emphasis: center;
    left: 0;
    right: 0;
  }

  /* Content Card */

  .card {
    margin: 0 auto;
    margin-top: 55px;
  }

  .card_text {
    font-size: 0.775rem;
    color: var(--darkBlue);
    font-weight: 500;
  }

  .profile_avatar {
    width: 40px;
    height: 40px;
  }

  .profile_work {
    color: var(--desBlue);
  }
  /* Section Access */

  .access {
    padding: 82px 50px;
    text-align: center;
    width: 542px;
    height: 500px;
  }

  .access_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 173px 110px;
    row-gap: 35px;
    align-items: flex-start;
  }

  .access_title {
    font-family: var(--rale);
    font-weight: 700;
  }

  .access_text {
    font-size: 23px;
  }

  .access_email {
    width: 347px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .access_sub {
    width: 347px;
    margin: 0 auto;
  }

  /* Footer */

  .footer {
    width: 542px;
    height: 958px;
    position: relative;
  }

  .footer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 65px;
    text-align: left;
  }

  .footer_div2,
  .footer_div3 {
    margin-left: 0;
  }

  .footer_text {
    margin-bottom: 25px;
    font-size: 18px;
  }

  /* Social Icons */

  .footer_icons {
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 10px;
    text-align: center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .icon_media {
    width: 38px;
    height: 38px;
    padding: 10px;
    padding-top: 13px;
    cursor: pointer;
  }
}
