:root {
  /* Typography */
  /* Body: */
  --open: "Open Sans", sans-serif;
  /* Weight: 400 */
  /*////////////////////////////*/
  /* Headings, Call-to-actions, Header Navigation: */
  --rale: "Raleway", sans-serif;
  /* Weight: 400 700 */
  /*------------------------------------*/
  --darkBlue: hsl(243, 87%, 12%);
  --desBlue: hsl(238, 22%, 44%);
  /* Accent */
  --blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);
  /* Radius */
  --rad: 4px;
  font-size: 16px;
}
/* Spanglish :D */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  font-size: 16px;
  overflow-x: hidden;
  height: auto;
}

.main {
  padding: 4.4375rem 3.7rem;
  background: #fff;
}

/* Header Section */

.header {
  font-family: var(--rale);
  color: var(--darkblue);
  font-weight: 400;
}

.header_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav ul {
  list-style: none;
  display: flex;
  align-content: flex-end;
}

.header_nav ul li {
  margin-left: 3.6875rem;
}

/* Hero Section */

.hero {
  margin-top: 5.5rem;
  font-family: var(--open);
}

.hero_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero_title {
  font-size: 2.4125rem;
  font-weight: 700;
  padding-bottom: 30px;
}

.hero_text {
  font-size: 19.219px;
  padding-bottom: 25px;
}

.hero_img,
.content_img {
  margin-left: 5.8355rem;
  height: 515px;
  width: 640px;
}

/* Hero Button */

.hero_form {
  display: flex;
  align-items: center;
}

.hero_email {
  height: 44px;
  width: 344px;
  border: 1px solid var(--desBlue);
  border-radius: var(--rad);
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.hero_email::placeholder {
  color: var(--desBlue);
}

.hero_submit {
  width: 199px;
  height: 44px;
  border: none;
  color: var(--light);
  background: var(--blue);
  border-radius: var(--rad);
  padding: 15px 0;
  font-size: 16px;
  margin-left: 1rem;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Content Section */

.content {
  margin-top: 170px;
  position: relative;
  background: var(--light);
  height: 790px;
  padding: 3.9rem 3.7rem;
  font-family: var(--open);
}
/* This is the curve in Desktop */

.content_text {
  color: var(--darkBlue);
}

.content_svg {
  position: absolute;
  top: -90px;
  left: 0;
  z-index: -100;
}

.content_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content_title {
  font-size: 36px;
  font-family: var(--rale);
  font-weight: 700;
  padding-bottom: 30px;
}

.content_text_p {
  font-size: 18px;
  line-height: 1.7rem;
}

.p1 {
  padding-bottom: 22px;
}

.content_a {
  color: var(--cyan);
  text-decoration: none;
  margin-top: 19px;
}

.div_a {
  display: flex;
  align-items: center;
  position: relative;
}

.content_arrow {
  font-size: 12px;
  padding-left: 0.2rem;
}

.content_hr {
  position: absolute;
  height: 1px;
  color: var(--cyan);
  left: 0;
  bottom: -15px;
  background: var(--cyan);
  width: 165px;
  border-radius: 2px;
  border: none;
}

/* Content Card */

.card {
  margin-top: 45px;
  width: 356px;
  background: #fff;
  padding: 25px 31px;
  font-family: var(--open);
  border-radius: var(--rad);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.card_svg {
  width: 16px;
  height: 16px;
  margin-bottom: 15px;
}

.card_text {
  font-size: 14px;
  line-height: 24px;
  color: var(--darkBlue);
  font-weight: 700;
  word-spacing: 1.5px;
}

.card_profile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.profile_avatar {
  width: 33px;
  height: 34px;
  border-radius: 50%;
  margin-right: 7px;
}

.profile_name {
  font-family: var(--rale);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 3px;
}

.profile_work {
  font-family: var(--rale);
  font-size: 11px;
}

/* Access Section */

.access {
  background: var(--desBlue);
  height: 325px;
  padding: 105px 57px;
  font-family: var(--open);
  color: var(--light);
}

.access_grid {
  display: grid;
  grid-template-columns: 600px 640px;
  column-gap: 130px;
  align-items: flex-start;
}

.access_title {
  font-size: 27.5px;
  padding-bottom: 30px;
  color: #ffffff;
}

.access_text {
  font-size: 19px;
  line-height: 28px;
}

/* Access Form */

.access_email {
  width: 570px;
  height: 50px;
  border: none;
  border-radius: var(--rad);
  padding-left: 20px;
  margin-bottom: 18px;
  outline: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.access_sub {
  width: 200px;
  height: 47px;
  background: var(--blue);
  border: none;
  color: var(--light);
  border-radius: var(--rad);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Footer */

.footer {
  background: var(--darkBlue);
  font-family: var(--open);
  color: #fff;
  padding: 103px 57px;
  padding-bottom: 70px;
  height: auto;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer_logo {
  display: block;
  margin-bottom: 22px;
}

.footer_text {
  margin-bottom: 15px;
}

.icon_phone,
.icon_email {
  margin-right: 15px;
}

.footer_icons {
  display: grid;
  grid-template-columns: repeat(3, 17px);
  column-gap: 45px;
  align-items: center;
  justify-content: center;
}

.icon_media {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px;
  width: 46px;
  height: 50px;
  padding: 16px;
  border-radius: 50%;
}

.footer_div2,
.footer_div3 {
  margin-left: 50px;
}

/* Responsive Desing */

@media screen and (max-width: 1390) {
  body {
    min-width: 1350px;
    margin: 0 auto;
  }
}
